%h2 Login

- form_for @user_session, :url => session_path do |f|
  = f.error_messages
  - haml_tag('div', :class => 'login_alternative', :style => @user_session.openid_identifier.blank? ? nil : 'display:none') do
    = f.text_field :login, :label => 'Username'
    = f.password_field :password
  - haml_tag('div', :class => 'login_alternative', :style => @user_session.openid_identifier.blank? ? 'display:none' : nil) do
    = f.text_field :openid_identifier, :label => 'OpenID'
  = f.check_box :remember_me, :label => 'remember me'
  
  = f.submit "Log in"
  %ul
    %li{:class => 'login_alternative', :style => @user_session.openid_identifier.blank? ? nil : 'display:none'}= link_to_function 'Log in using OpenID instead', "$('.login_alternative').toggle();"
    %li{:class => 'login_alternative', :style => @user_session.openid_identifier.blank? ? 'display:none' : nil}= link_to_function "Log in using a standard username/password", "$('.login_alternative').toggle();"
