!!! XML
!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}
    %title== #{controller.controller_name}: #{controller.action_name}
    = stylesheet_link_tag 'scaffold'
    = javascript_include_tag :defaults
    %link{:rel => 'stylesheet', :type => 'text/css', :href => "/stylesheets/reset.css"}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => "/stylesheets/kulrii.css"}
    - if defined? theme
      %link{:rel => 'stylesheet', :type => 'text/css', :href => "http://#{request.host}/themes/#{theme}"}
  %body
    %h1= link_to 'Conductor', '/', :title => 'Home'
    - if !current_user
      = link_to "Sign up", new_user_path
      |
      = link_to "Log in", new_session_path
      |
      = link_to "Forgot password", new_password_path
    - else
      = link_to "My account", account_path
      |
      = link_to "Log out", session_path, :method => :delete, :confirm => "Are you sure you want to log out?"
    %p{:style => 'color:green'}= flash[:notice]
    =yield
